body {
    background-color: #343a40!important;
}

.jumbotron {
    background-image: url('../images/LosAngeles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    margin-bottom: 0!important;
}

.jumbotron h1 {
    color: #fff;
    font-size: 45px;
    text-shadow: 4px 4px 2px black;
}

.title {
    font-size: 25px;
    color: black;
}

.article .title {
    text-decoration: none;
    color: black!important;
}

.article {
    padding: 40px;
}

.article:nth-child(odd) {
    background: #fff;
}

.article:nth-child(even) {
    background: #eee;
}

#modal-save {
    text-decoration: none!important;
    color: #fff;
}

#default-message {
    font-size: 30px;
    color: #fff;
}

.btn-default a {
    color: #80490A;
    text-decoration: none;
    font-weight: bold;
}